body {
  font-family: 'Corbel', 'Verdana', 'Helvetica';
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #c4d2eb;
}

#root {
  padding: 5px;
  width: 100%; 
}

.app {
  width: 100%;
}

.tabs {
  display: flex;
  font-weight: 600;
  justify-content: flex-start;
}

.tab {
  padding: 5px;
  margin: 2px;
}

.tab:hover, .active {
  border-bottom: 2px solid #34006f;
  cursor: pointer;
  margin-bottom: 0;
}

.pftext {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 5px;
  width: auto;
  height: 350px;
}

.date {
  font-style: italic;
}

footer {
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
  clear: both;
}

footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.wendyliang {
  display: flex;
  gap: 10px;
  border: 1px solid #34006f;
  border-radius: 5px;
  box-shadow: 2px 2px;
  padding: 10px;
  margin: 5px;
  align-items: center;
}

.resume {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.projects {
  margin: 10px;
}
